services:
  hytale-server:
    container_name: hytale-server
    image: ghcr.io/kestrelsdevelopment/hytale-server:latest
    volumes:
      - ${HYTALE_DATA_DIR}:/opt/hytale-server-data
      - hytale-server:/opt/hytale-server
    ports:
      - 5520:5520/udp
    restart: unless-stopped
    stdin_open: true
    tty: true
    user: root

volumes:
    hytale-server: