services:
  hytale-server:
    # Uncomment to build locally
    # build:
    #   context: ./Hytale-Server
    #   dockerfile: ./Dockerfile
    container_name: hytale-server
    image: ghcr.io/kestrelsdevelopment/hytale-server:latest
    volumes:
      - ${HYTALE_DATA_DIR}:/opt/hytale-server-data
      - hytale-server:/opt/hytale-server
    ports:
      - 5520:5520/udp
    environment:
      JDK_JAVA_OPTIONS: ${HYTALE_JVM_OPTIONS}
      SERVER_ARGS: ${HYTALE_SERVER_ARGS}
    restart: unless-stopped
    stdin_open: true
    tty: true
    user: root

volumes:
    hytale-server: