name: "Docker Ci"

on:
  push:
    branches: [ main ]
    tags: [ '*' ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    uses: KestrelsDevelopment/Workflows/.github/workflows/docker-build.yml@main
    with:
      build_compose_path: build-compose.yml
      registry: ghcr.io
      platforms: linux/amd64
    permissions:
      contents: read
      packages: write
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}